<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnostic center details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 100px;
            background: skyblue;
            display: flex;
            justify-content: space-evenly;
            z-index: 99;
            align-items: center;
        }

        .logo {
            font-size: 2em;
            color: aliceblue;
            user-select: none;
        }

        .navigation a {
            position: relative;
            font-size: 1.3em;
            color: black;
            text-decoration: none;
            font-weight: 500;
            margin-left: 150px;
        }

        .navigation a::after {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 3px;
            background: blue;
            border-radius: 5px;
            left: 0px;
            bottom: -6px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s;
        }

        .navigation a:hover::after {
            transform: scaleX(1);
        }

        .navigation .button-login {
            width: 130px;
            height: 50px;
            background: transparent;
            border: 2px solid aliceblue;
            outline: none;
            border-radius: 26px;
            cursor: pointer;
            font-size: 1.1em;
            color: blue;
            font-weight: 500;
            margin-left: 100px;
            transition: .5s;
            background-color: azure;
        }

        .navigation .button-login:hover {
            background: blue;
            color: whitesmoke;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-size: cover;
            background-position: center;
            background: #dfe9f5;
        }


        .maincontainer {
            width: 80%;
            margin-top: 150px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1,
        h2,
        p {
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
            padding-left: 20px;
        }

        ul li {
            margin-bottom: 5px;
            background-color: #f0f0f0;
            padding: 10px 20px;
            border-radius: 30px;
            /* Oval shape */
        }

        ul li+li {
            margin-top: 10px;
            /* Add spacing between items */
        }

        iframe {
            margin-top: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }

        .oval {
            display: inline-block;
            padding: 10px 20px;
            background-color: #f8f9fa;
            color: rgb(0, 0, 0);
            border-radius: 30px;
            /* Oval shape */
            margin-right: 50px;
            /* Adjust spacing between ovals */
        }

        .ovalbox {
            display: inline-block;
            padding: 20px 50px;
            background-color: #f8f9fa;
            /* Whitish background color */
            color: black;
            /* Text color */
            border-radius: 30px;
            /* Oval shape */
            margin-right: 10px;
            /* Adjust spacing between ovals */
            text-align: center;
            /* Align text horizontally in the center */
        }

        .oval-price {
            background-color: rgb(14, 177, 241);
            /* Background color for price oval */
            color: white;
            /* Text color for price */
            border-radius: 30px;
            /* Oval shape */
            padding: 5px 10px;
            /* Adjust padding as needed */
            margin-right: 800px;
            /* Ensure no margin on the right */
            margin-left: 800px;
        }


        .active-bar {
            position: absolute;
            bottom: -3px;
            /* Shifted up by the height of the active bar */
            left: 32%;
            width: 17%;
            /* Initial width */
            height: 3px;
            /* Height of the blue line bar */
            background-color: blue;
            transition: left 0.3s;
            /* Smooth transition when shifting */
        }

        .button-container {
            position: relative;
            margin-top: 20px;
            text-align: center;
        }

        .button {
            background-color: transparent;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 10px;
        }

        .button:hover {
            background-color: #f0f0f0;
            /* Light gray background color on hover */
        }

        .logospan {
            color: blue;
        }

        .hudai {}

        .showappointments {
            border: 1px groove rgb(68, 170, 176);
            border-radius: 5px;

        }


        .image-preview-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }

        .preview-image {
            width: 500px;
            height: auto;
            /* Maintain aspect ratio */
            display: block;
            /* Center image horizontally */
            margin: 0 auto;
            /* Center image horizontally */
        }

        .download-link {
            display: block;
            text-align: center;
            margin-top: 10px;
            text-decoration: none;
            color: blue;
        }

        .suggested-tests-section {
            margin-top: 20px;
            border-top: 1px solid #ccc;
            /* Add a border at the top */
            padding-top: 20px;
            /* Add some padding at the top */
        }

        .suggested-tests-section h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .suggested-tests-section ul {
            list-style: none;
            padding: 0;
        }

        .suggested-tests-section ul li {
            margin-bottom: 5px;
        }


        .rating {
        display: flex;
        flex-direction: row-reverse;
        font-size: 30px;
    }

    .rating>input {
        display: none;
    }

    .rating>label {
        cursor: pointer;
        color: black;
    }

    .rating>input:checked~label,
    .rating>input:checked~label~label {
        color: #f90;
    }

    .comment-input {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;
    }

    .submit-btn {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .submit-btn:hover {
        background-color: #0056b3;
    }

    
    </style>
</head>

<body>
    <header>
        <img src="../public/logo.jpg" width="70px" style="margin-right: 10px; border-radius: 9px;">
        <h2 class="logo">Medi<span style="color: blue;">Sphere</span></h2>
        <nav class="navigation">
            <a href="/consultation">Consultation</a>
            <a href="/diagnostics">Diagnostics</a> <!-- Corrected typo in the href -->
            <a href="/doctors">Doctors</a>
        </nav>
    </header>
    <div class="maincontainer">
        <span class="details-section">
            <h1>Prescription Details</h1>
        </span>
        <div class="button-container">
            <button class="button" onclick="showTest()" style="color: blue; font-size: 1.05em;"><i
                    class="fas fa-file-prescription"></i> Show Prescription</button>
            <button class="button" onclick="showLocation()" style="color: blue; font-size: 1.05em;"><i
                    class="fas fa-notes-medical"></i> Suggested Tests</button>


            <div class="active-bar"></div> <!-- Blue line bar -->
        </div>

        <div class="slideshow-container">
            <div class="test-section slideshow">
                <% if (imageUrls.length !=0) { %>
                    <% imageUrls.forEach(imageUrl=> { %>
                        <div class="image-preview-box">
                            <p>Preview:</p>
                            <img src="<%= imageUrl %>" class="preview-image">
                            <a href="<%= imageUrl %>" class="download-link">Download</a>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <i class="fa-9x fa-solid fa-calendar-xmark"
                                    style="font-size: 20rem; margin-left: 380px; margin-top: 60px;"></i>
                                <h2 style="margin-left: 300px; margin-top: 10px;">You are yet to take appointment</h2>
                                <% } %>
            </div>
            <div class="location-section slideshow" style="display: none;">
                <% if (suggestedTests.length > 0) { %>
                    <h2>Suggested Tests:</h2>
                    <ul>
                        <% suggestedTests.forEach(test => { %>
                            <li><%= test %></li>
                        <% }); %>
                    </ul>
            
                    <!-- Suggested Diagnostic Centers -->
                    <h2>Suggested Diagnostic Centers:</h2>
                    <ul>
                        <% if(diagnosticCenters.length > 0) {%>
                        <% for(let i = 0;i<diagnosticCenters.length;i++) {%>
                        <a href="/diagnostics/<%= diagnosticCenters[i][3]%>" style = "text-decoration: none; color: black;"><li><%= diagnosticCenters[i][0] %></li></a>
                        <% } %>
                        <% }  else{%>
                       
                            <li>No Diagnostic center available</li>
                            <% } %>
                        <!-- Add more test names as needed -->
                      </ul>
                <% } else { %>
                    <p>No suggested tests available</p>
                <% } %>
            </div> 
            <div class="feedback" style="margin-top: 40px;">
                <h1>Share Your Experience</h1>
                <form action="/landing/dashboard/feedback" method="post">
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5">☆</label>
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4">☆</label>
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3">☆</label>
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2">☆</label>
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1">☆</label>
                    </div>
                    <textarea class="comment-input" name="comment" rows="5" placeholder="Enter your feedback"></textarea>
                    <input type="hidden" name="additionalData1" value=<%= appointmentid %>>
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
              </div>
        </div>
    </div>
    <script>
        function showTest() {
            document.querySelector('.test-section').style.display = 'block';
            document.querySelector('.location-section').style.display = 'none';
            document.querySelector('.active-bar').style.left = '32%';
        }
        function showLocation() {
            document.querySelector('.test-section').style.display = 'none';
            document.querySelector('.location-section').style.display = 'block';
            document.querySelector('.active-bar').style.left = '52%';
        }
    </script>
</body>
</html>